@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(47, 46, 61);
}
header {
  color: #fff;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    h1 {
      font-size: 30px;
    }
    .auth-content {
      a {
        padding: 15px 30px;
        background-color: blue;
        text-decoration: none;
        color: #fff;
        border: none;
        border-radius: 6px;
        font-size: 21px;
        margin: 0 3px;
      }
    }
  }
}
