main {
  color: #fff;
  text-align: center;
  h1 {

    font-size: 60px;
    background: linear-gradient(to right, #37ffff 0%, #dbca00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 100px auto 50px;
  }
  .button-box {
    // padding-top: 50px;
    // a {
    //   text-decoration: none;
    //   font-size: 25px;
    //   padding: 10px 20px;
    //   background-color: transparent;
    //   color: #fff;
    //   border-radius: 5px;
    //   margin: 5px;
    //   border: 1px solid white;
    // }
  }
}
